<mat-toolbar color="primary" role="heading">
  <h1>{{ title }}</h1>

  <mat-icon [matMenuTriggerFor]="menu" class="account-edit-button" aria-label="menu">more_vert</mat-icon>

  <mat-menu #menu="matMenu" role="navigation">
    <button (click)="account()" mat-menu-item>My Account</button>
    <button (click)="logout()" mat-menu-item>Log Out</button>
  </mat-menu>
</mat-toolbar>
