<div class="login-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
    <mat-icon>video_library</mat-icon>
    <h2>Welcome back!</h2>

    <mat-form-field>
      <input type="email" placeholder="Email Address" formControlName="email" spellcheck="false" matInput autofocus required>
      <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
        <span *ngIf="email.errors.required || email.errors.email">You must enter a valid email address.</span>
        <span *ngIf="email.errors.maxlength">Cannot be greater than 255 characters.</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="password" placeholder="Password" formControlName="password" matInput required>
      <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
        <span *ngIf="password.errors.required">You must enter a password.</span>
        <span *ngIf="password.errors.minlength">Cannot be less than 6 characters.</span>
        <span *ngIf="password.errors.maxlength">Cannot be greater than 255 characters.</span>
      </mat-error>
    </mat-form-field>

    <button type="submit" color="primary" [disabled]="!form.valid" mat-raised-button>
      <span *ngIf="!submitted">Log In</span>
      <mat-spinner *ngIf="submitted" color="accent" aria-label="loading" [diameter]="24"></mat-spinner>
    </button>

    <div class="secondary-options">
      <small><a [routerLink]="['/register']">Register</a> &bull; <a [routerLink]="['']">Forgot password?</a></small>
    </div>
  </form>
</div>
