<div class="posts-container">
  <app-header title="Posts"></app-header>

  <mat-card class="post" *ngFor="let post of posts">
    <video src="{{ post.url }}" mat-card-image playsinline></video>

    <mat-card-header>
      <mat-card-title>{{ post.message }}</mat-card-title>
      <mat-card-subtitle>{{ post.createdAt | timestamp }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-actions>
        <button mat-button>Like</button>
        <button mat-button>Share</button>
    </mat-card-actions>
  </mat-card>

  <button class="add-new-video-button" mat-fab>
    <mat-icon>add</mat-icon>
  </button>
</div>
