.posts-container {
  mat-toolbar {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);

    .account-edit-button {
      margin-left: auto;
    }
  }

  .post {
    margin: 1em;

    video {
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
    }
  }

  .add-new-video-button {
    position: absolute;
    bottom: 1.25em;
    right: 1em;
  }
}
