/* You can add global styles to this file, and also import other style files */

@import "~normalize.css/normalize.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}

html, body {
  height: 100%;
}
