<div class="register-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
    <mat-icon>video_library</mat-icon>
    <h2>Register</h2>

    <mat-form-field>
      <input type="email" placeholder="Email Address" formControlName="email" spellcheck="false" matInput autofocus required>
      <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
        <span *ngIf="email.errors.required || email.errors.email">You must enter a valid email address.</span>
        <span *ngIf="email.errors.maxlength">Cannot be greater than 255 characters.</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="text" placeholder="First Name" formControlName="firstName" spellcheck="false" matInput required>
      <mat-error *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
        <span *ngIf="firstName.errors.required">You must enter a first name.</span>
        <span *ngIf="firstName.errors.minlength">Cannot be less than 6 characters.</span>
        <span *ngIf="firstName.errors.maxlength">Cannot be greater than 255 characters.</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="text" placeholder="Last Name" formControlName="lastName" spellcheck="false" matInput required>
      <mat-error *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
        <span *ngIf="lastName.errors.required">You must enter a last name.</span>
        <span *ngIf="lastName.errors.minlength">Cannot be less than 6 characters.</span>
        <span *ngIf="lastName.errors.maxlength">Cannot be greater than 255 characters.</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="password" placeholder="Password" formControlName="password" matInput required>
      <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
        <span *ngIf="password.errors.required">You must enter a password.</span>
        <span *ngIf="password.errors.minlength">Cannot be less than 6 characters.</span>
        <span *ngIf="password.errors.maxlength">Cannot be greater than 255 characters.</span>
      </mat-error>
    </mat-form-field>

    <button type="submit" color="primary" [disabled]="!form.valid" mat-raised-button>
      <span *ngIf="!submitted">Register</span>
      <mat-spinner *ngIf="submitted" color="accent" aria-label="loading" [diameter]="24"></mat-spinner>
    </button>

    <div class="secondary-options">
      <small>Already have an account?&nbsp;<a [routerLink]="['/login']">Login</a></small>
    </div>
  </form>
</div>
