.register-container {
  height: 100%;

  form {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 400px;
    width: calc(100% - 3em);
    height: calc(100% - 3em);
    margin: 0 auto 0;
    padding: 1.5em;

    mat-icon {
      color: #3f51b5;
      margin: 0.5em auto 0;
      padding-right: 0.25em;
      font-size: 3em;
      height: 1em;
    }

    h2 {
      text-align: center;
      margin-bottom: 3em;
      font-weight: 400;
    }

    mat-form-field {
      margin-bottom: 0.75em;
    }

    mat-checkbox {
      margin-top: 1em;
    }

    button[type="submit"] {
      margin: auto 0 0 0;
      text-transform: uppercase;
      height: 36px;

      mat-spinner {
        margin: 0 auto;
        width: 50px;
        height: 50px;
      }
    }

    a {
      margin: 1.5em 0 0.5em;
      display: inline-block;
      text-align: center;
      text-decoration: none;
      color: #3f51b5;
    }

    .secondary-options {
      width: 100%;
      display: inline-block;
      align-items: baseline;
      margin: 0 auto -0.25em;
      text-align: center;
    }
  }

  .login-container form > * {
    width: 100%;
  }
}
